<!doctype html>
<html>
  <head>
    <title>The Hospital</title>
  </head>
  <body>
    {{{ body }}}

    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
  </body>
</html>
